<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="theCatas">
            <div class="message">
				{{messages.message}}
			</div>
        <form action="/area" method="post">
            <h1 style="color: yellowgreen;">Spaza Suggestion</h1>
            <h3 style="color: antiquewhite;"><i>Please suggest for an area that you would like to buy your products from</i></h3>
            <br>
            <br>
            <select name="suggestion">
                <option value="1">Khayelitsa - Site B</option>
                <option value="2">Khayelitsa - Site C</option>
                <option value="3">Khayelitsa - Makhaza</option>
                <option value="4">Nyanga</option>
                <option value="5">Nyanga East</option>
            </select>

            <input class="food" type="foods" name="area" placeholder="suggest-Place">
            <br>
            <br>
            <input type="drinks" value=""><br><br>
            <button type="submit" class="btnblue">Submit</button>
        </form>
    </div>
    <a href="/"><button class="btnblue">Suggest Area</button></a>
</body>
<script src="setTimeout.js"></script>
</html>