<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="Main-container">

        <div class="topnav"><a href="/">
                <a href="/"></a>
        </div>

        <h1 style="color:rgb(47, 48, 45)">SDUMO SPAZA SHOP</h1>

                <div class="message">
				{{messages.message}}
			</div>
        
        <form action="/log" method="POST">
            <div class="container">
                <input type="text" name="areaname" class="NameEntered" value="" placeholder="enter a your location">
                <br>
                <br>
                <input type="text" name="usercode" class="NameEntered" value="" placeholder="enter your userid">
                <br>
                <br>
                <br>
                <button type="submit" class="btnblue">Log in</button> 
            </div>
            <div class="Customers">
                {{#each output}}
                <div class="output">
                    {{this.output}}
                </div>
                {{/each}}
            </div>
        </form>
        <a href="/sign"><h2><p style="color: rgb(0, 251, 255);"><strong>Register</strong></p></h2></a>
    </div>
</body>
</html>